*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    background-color: aquamarine;
} */

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* share style */
.btn{
     font-size: 20px;
    background-color: #FD6E0A;
    text-decoration: none;
    border-radius: 5px;
    padding: 18px 35px;
    border: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.logo{
    font-size: 45px;
    font-weight: 900;
}
.menu{
    list-style-type: none;
    gap: 51px;
    display: flex;
    align-items: center;
}
.color-orange{
    color: #FD6E0A;
    
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png"),url("../images/header_bg.png"),#FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}
/* main style */

nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;

}

/* banner start */
#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
  
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin: 20px;

}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;

}
#banner .banner-content p{

}

#banner .banner-img img{
    width: 585px;
    vertical-align: middle;
}