*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    background-color: aquamarine;
} */

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* share style */
.btn{
     font-size: 20px;
    background-color: #FD6E0A;
    text-decoration: none;
    border-radius: 5px;
    padding: 18 35;
    border: none;
    font-weight: bold;
    color: white;
}
.logo{
    font-size: 45px;
    font-weight: 900;
}
.menu{
    list-style-type: none;
    gap: 51px;
    display: flex;
    align-items: center;
}
.color-orange{
    color: #FD6E0A;
    
}
header{background-color: #FFF8F3;
    padding-top: 50px;
}
/* main style */

nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;

}
